@import url("/home/raman/.config/wofi/colors.css");

* {
	font-family: 'JetBrains Mono';
	font-size: 12px;
}

window {
	border-radius: 15px;
	background: @background;
}

#input {
	margin: 5px;
	border-radius: 0px;
	border: none;
	border-bottom: 0px solid black;
	background-color: @color0Flat;
	color: white;
	padding: 8px 12px;
	outline: none;
}

#inner-box {
	margin: 5px;
	background-color: @background;
}

#outer-box {
	margin: 5px;
	padding: 20px;
	background-color: @background;
	border-radius: 15px 15px 15px 15px;
}

#scroll {
	margin-top: 20px;
}

#text {
	margin: 5px;
	color: @color7Flat;
}

#img {
	padding: 10px;
}

/* #entry:nth-child(even){ */
/*     background-color: #404552; */
/* } */

#entry:selected {
	background-color: @color1Flat;
	border-radius: 5px;
}

#text:selected {
	text-decoration-color: white;
}
